name: Wingo-Pro-Auto
on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  run-ai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install requests
      - run: python predictor.py
